# Backend
GEMINI_API_KEY=AQ.Ab8RN6JUm6yG4raqHI5dvqXveescLIa80z4isa0hDorSUUx84A
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=plum_opd
CORS_ORIGINS=http://localhost:3000
# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
